@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Silkscreen:wght@400;700&display=swap');
.scrollbar {
    @apply overflow-y-scroll; 
  }
  
  .scrollbar::-webkit-scrollbar {
    width: 8px; 
  }
  
  .scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px; 
  }
  
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }