# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Frontend (React)
build/
public/static/
dist/
*.log

# Backend (Express.js)
logs/
*.log


# IDE/Editor 
.vscode/
.idea/
*.swp
.DS_Store

# OS
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Test
coverage/
jest/
*.coverage
